version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: Data
    ports:
      - "49153:80"   # <-- change 49153 to whatever random host port you want
    volumes:
      - ./:/var/www/html
    restart: unless-stopped
